nav {
  position: sticky;
  top: 0;

  z-index: 10;
  width: 100%;
}

/* about-1 */
.about-1-wrapper {
  height: calc(49.026vh);
  width: auto;
  top: 0;

  @include flex-column;
  justify-content: flex-end;
  position: relative;
}

.line-image-hero {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  top: calc(78px + 5%);

  z-index: -1;
}

.about-me-suggestion {
  @include font-16-normal-400;
  letter-spacing: 5.92px;

  text-align: center;
}

.about-me-role {
  @include font-36-54-700;
  text-align: center;
}

.about-me-explanation {
  @include font-18-32-400;
  text-align: center;
  color: $color-ln-70;
}

.about-1-content-wrapper-1 {
  @include flex-column;
  gap: 16px;
}

.about-1-content-wrapper {
  @include flex-column;
  gap: 32px;
}

/* about-2 */

.about-2-wrapper {
  width: 100vw;
  height: min(420px);
  
  color: $color-dn-170;
  background-image: url(../assets/images/about/hand.png);

  margin-top: 220px;
  position: relative;
}

.about-2-profile-picture {
  width: min(196px);
  height: min(196px);

  background-color: #D9D9D9;

  border-radius: 50%;

  position: absolute;
  bottom: 100px;

  left: 50%;
  transform: translateX(-50%);

  top: -98px;
}

/* about-3 */
small {
  @include font-18-32-400;
}

h2 {
  @include font-32-normal-700;
}

.about-3-header-wrapper {
  @include flex-column-left;
  gap: 12px;
}

.about-3-item-number {
  @include font-16-27-400;
  color: $color-ln-70;
}

.about-3-item-title {
  @include font-16-27-500;
  color: $color-ln-70;
}

.weight-700 {
  font-weight: 700;
}

.about-3-item {
  display: flex;
  max-width: 369px;
  gap: 15px;
}

.about-3-item-wrapper {
  @include flex-row;
  align-items: flex-start;
  flex-wrap: wrap;
  
  max-width: 1280px;
  row-gap: 80px;
  column-gap: 85px;
}

.about-3-wrapper {
  @include flex-column-left;
  gap: 80px;

  max-width: 1280px;
  margin: 96px auto;
}

/* about-4 */
.about-4-tools-design-wrapper {
  @include flex-row;
  align-items: flex-start;
  gap: 16px;
  row-gap: 28px;

  flex-wrap: wrap;
}

.about-4-tools-design {
  @include flex-column-left;
  gap: 24px;
  max-width: 530px;
}

.about-4-tools-dev-wrapper {
  @include flex-row;
  align-items: flex-start;
  gap: 16px;
  row-gap: 28px;

  flex-wrap: wrap;
}

.about-4-tools-dev {
  @include flex-column-left;
  gap: 24px;
  max-width: 604px;
}

.about-4-tools-wrapper {
  @include flex-row;
  gap: 146px;
}

.about-4-wrapper {
  @include flex-column-left;
  gap: 16px;

  max-width: 1280px;
  margin: 0 auto;
}

.about-5-wrapper {
  width: 100vw;
  height: min(943px);
  
  color: $color-dn-170;
  background-image: url(../assets/images/about/section5/section5bg.svg);

  margin: 96px auto;
  position: relative;
}

.section-5-culture {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}