.about-1-wrapper {
  height: calc(49.026vh);
  width: auto;
  top: 0;

  @include flex-column;
  justify-content: flex-end;
  position: relative;
}

.line-image-hero {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  top: calc(78px + 5%);

  z-index: -1;
}

.about-me-suggestion {
  @include font-16-normal-400;
  letter-spacing: 5.92px;

  text-align: center;
}

.about-me-role {
  @include font-36-54-700;
  text-align: center;
}

.about-me-explanation {
  @include font-18-32-400;
  text-align: center;
  color: $color-ln-70;
}

.about-1-content-wrapper-1 {
  @include flex-column;
  gap: 16px;
}

.about-1-content-wrapper {
  @include flex-column;
  gap: 32px;
}