$color-primary-white: #F7F7FF;
$color-primary-black: #202124;
$color-primary-yellow: #FFBA49;

/* accent */
$color-accent-blue: #5BC0EB;
$color-accent-red: #DB5A42;
$color-accent-dred: #5C2029;

/* light neutral */
$color-ln-90: #FFFFFF;
$color-ln-100: #F8F8F9;
$color-ln-110: #F1F2F3;
$color-ln-120: #EBEBED;
$color-ln-10: #E1E2E5;
$color-ln-20: #DDDEE1;
$color-ln-30: #D6D7DB;
$color-ln-40: #CFD0D4;
$color-ln-50: #C8CACE;
$color-ln-60: #C1C3C8;
$color-ln-70: #BBBCC2;
$color-ln-80: #B4B6BC;
$color-ln-130: #ADAFB6;

/* dark neutral */
$color-dn-10: #A1A4AC;
$color-dn-20: #8A8D97;
$color-dn-30: #7E828D;
$color-dn-40: #737782;
$color-dn-50: #696C76;
$color-dn-60: #5E616A;
$color-dn-70: #54575E;
$color-dn-80: #4A4C53;
$color-dn-90: #3F4147;
$color-dn-100: #35363B;
$color-dn-110: #2A2C30;
$color-dn-180: #202124;
$color-dn-170: #1B1B1E;
$color-dn-160: #151618;
$color-dn-150: #0E0E0F;
$color-dn-140: #09090A;
$color-dn-130: #040405;
$color-dn-120: #000000;

/* blue */
$color-blue-10: #EAF7FD;
$color-blue-20: #D6EFFA;
$color-blue-30: #C2E7F8;
$color-blue-40: #ADE0F5;
$color-blue-50: #98D8F3;
$color-blue-60: #84D0F0;
$color-blue-70: #70C8EE;
$color-blue-80: #5BC0EB;
$color-blue-90: #37B2E7;
$color-blue-100: #1BA1DA;

/* red */
$color-red-10: #FAEAE7;
$color-red-20: #F6D6D0;
$color-red-30: #F2C1B8;
$color-red-40: #EDADA1;
$color-red-50: #E89889;
$color-red-60: #E48371;
$color-red-70: #E06F5A;
$color-red-80: #DB5A42;
$color-red-90: #D14328;
$color-red-100: #B43922;

/* dred */
$color-dred-10: #F3DBDF;
$color-dred-20: #E6B7BE;
$color-dred-30: #DA949E;
$color-dred-40: #CD707E;
$color-dred-50: #C14C5E;
$color-dred-60: #A43949;
$color-dred-70: #802C39;
$color-dred-80: #5C2029;
$color-dred-90: #511C24;
$color-dred-100: #45181F;

/* yellow */
$color-yellow-10: #FFF6E8;
$color-yellow-20: #FFEED2;
$color-yellow-30: #FFE5BB;
$color-yellow-40: #FFDCA4;
$color-yellow-50: #FFD48D;
$color-yellow-60: #FFCB76;
$color-yellow-70: #FFC360;
$color-yellow-80: #FFBA49;
$color-yellow-90: #FFAA20;
$color-yellow-100: #F69900;


