nav {
  position: sticky;
  top: 0;

  z-index: 10;
  width: 100%;
}

.contact-1-wrapper {
  top: 0;

  @include flex-column;
  justify-content: flex-end;

  position: relative;

  max-width: 1280px;
  margin: 0 auto;

  margin-top: 48px;
  margin-bottom: 112px;
}

.curvy-bg {
  position: absolute;
  top: -12px;
  
  left: -125px;
}

.contact-hero-bg {
  width: auto;
  height: auto;

  position: relative;
}

.contact-2-header-wrapper {

  @include flex-column-left;
  gap: 16px;

  small {
    @include font-16-normal-400;
    letter-spacing: 5.92px;

    color: $color-dn-20;
  }

  h3 {
    @include font-32-48-700;
    max-width: 413px;
  }
}

.contact-2-subheader {
  @include font-18-normal-700;
  // font-weight: 600;

  color: $color-yellow-100;
}

.contact-2-information {
  @include font-18-normal-700;
  font-weight: 500;

  color: $color-ln-20;
}

.contact-2-information-wrapper {
  @include flex-row;
  align-items: flex-end;
  gap: 6px;
}

.contact-2-info-wrapper {
  @include flex-row;
  gap: 60px;
}

.say-hello {
  position: relative;
}

.hello-icon {
  position: absolute;
  top: -46px;
  left: 90px;
}

.contact-2-info {
  @include flex-column-left;
  gap: 12px;
}

.contact-2-contact-info-wrapper {
  @include flex-column-left;
  gap: 36px;
}

.contact-2-left-wrapper {
  @include flex-column-left;
  gap: 248px;
}

.space-filler {
  width: 12px;
  height: 35px;
}

.contact-2-right-header {
  @include font-16-27-400;
  color: $color-ln-10;
}

label {
  @include font-18-normal-700;
  color: $color-blue-100;
}

input, select {
  @include reset-input;
  padding: 15px 11px;

  font-family: 'Inter', sans-serif ;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  border: 2px solid $color-dn-70;
  width: clamp(300px, -20px, 200px);
}

select {
  padding: 15px 8px; 

  option {
    background-color: $color-dn-170;
    font-size: 16px;
  }
}


input:focus, textarea:focus, select:focus {
  outline: none;
  border: 2px solid $color-ln-30;
  border-radius: 0;
}

input::placeholder, textarea::placeholder {
  @include font-16-normal-400;
  color: $color-ln-70;
}

.select-placeholder {
  @include font-16-normal-400;
  color: $color-ln-70;
}

textarea {
  @include reset-input;
  padding: 15px 11px;

  font-family: 'Inter', sans-serif ;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  border: 2px solid $color-dn-70;
  width: clamp(631px, -20px, 200px);
  min-height: 156px;
}

.input-button {
  @include reset-button;
  @include font-16-normal-400;

  font-weight: 500;
  // width: 113px;

  color: $color-ln-70;

  padding: 10px 259px;
  border: 2px solid $color-ln-70;
  width: 631px;

  transition: all 200ms;
  
  &:hover {
    border: 2px solid $color-primary-white;
    color: $color-primary-white;
  }
}

.form-row-item-wrapper-1 {
  @include flex-column-left;
  gap: 12px;
}

.form-row-item-wrapper {
  @include flex-row;
  gap: 31px;
}

.form-wrapper {
  @include flex-column-left;
  gap: 24px;
}

.contact-2-right-wrapper {
  @include flex-column-left;
  gap: 24px;
}

.contact-2-wrapper {
  @include flex-row;
  gap: 64px;

  align-items: flex-start;

  margin: 0 auto;
  max-width: 1280px;
  width: calc(100vw - 3em);

  margin-bottom: 112px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 15, 0.65);
  z-index: 1;
}

.alert-title {
  @include font-24-normal-700;
  color: $color-primary-white;
}

.alert-content {
  @include font-16-27-400;
  color: $color-ln-70;

  text-align: center;
}

.alert-wrapper {
  @include flex-column;
  gap: 16px;
}

.alert-button {
  @include reset-button;
  @include font-16-24-700;

  color: $color-accent-blue;
  padding: 10px 225px;

  border: 2px solid $color-accent-blue;
}

.alert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: auto;
  max-height: auto;

  background-color: $color-dn-110;
  border: 1px solid $color-dn-80;
  border-radius: 8px;

  padding: 36px 56px;

  @include flex-column;
  gap: 36px;
}

@media screen and (max-width: 1300px) {
  .contact-1-wrapper {  
    max-width: 1280px;
    width: calc(100vw - 3em);
    
    height: auto;
  }

  .contact-hero-bg {
    width: 100%;
  }

  .curvy-bg {
    display: none;
  }
}