nav {
  position: sticky;
  top: 0;

  z-index: 0;
  width: 100%;
}

.contact-1-wrapper {
  top: 0;

  @include flex-column;
  justify-content: flex-end;

  position: relative;

  max-width: 1280px;
  margin: 0 auto;

  margin-top: 48px;
  margin-bottom: 112px;
}

.curvy-bg {
  position: absolute;
  top: 6.5px;
  
  left: -125px;
}

.contact-hero-bg {
  width: auto;
  height: auto;

  position: relative;
}

// .contact-1-intro {
//   padding: 74px 64px;

//   @include flex-column;
//   gap: 12px;

//   border: 6px solid $color-primary-black;
//   background: rgba(255, 186, 73, 0.04);
//   position: relative;

//   h2 {
//     @include font-36-normal-800;
//     color: $color-yellow-100;

//     text-align: center;
//   }

//   p {
//     @include font-16-27-400;
//     text-align: center;
//   }
// }

// .elbow {
//   position: absolute;
// }

// .elbow-1 {
//   top: -6px;
//   left: -6px;
// }

// .elbow-2 {
//   top: -6px;
//   right: -6px;
// }

// .elbow-3 {
//   bottom: -6px;
//   left: -6px;
// }

// .elbow-4 {
//   bottom: -6px;
//   right: -6px;
// 

.contact-2-header-wrapper {

  @include flex-column-left;
  gap: 16px;

  small {
    @include font-16-normal-400;
    letter-spacing: 5.92px;

    color: $color-dn-20;
  }

  h3 {
    @include font-32-48-700;
    max-width: 413px;
  }
}

.contact-2-subheader {
  @include font-18-normal-700;
  // font-weight: 600;

  color: $color-yellow-100;
}

.contact-2-information {
  @include font-18-normal-700;
  font-weight: 500;

  color: $color-ln-20;
}

.contact-2-information-wrapper {
  @include flex-row;
  align-items: flex-end;
  gap: 6px;
}

.contact-2-info-wrapper {
  @include flex-row;
  gap: 60px;
}

.say-hello {
  position: relative;
}

.hello-icon {
  position: absolute;
  top: -46px;
  left: 90px;
}

.contact-2-info {
  @include flex-column-left;
  gap: 12px;
}

.contact-2-contact-info-wrapper {
  @include flex-column-left;
  gap: 36px;
}

.contact-2-left-wrapper {
  @include flex-column-left;
  gap: 148px;
}