nav {
  position: sticky;
  top: 0;

  z-index: 0;
  width: 100%;
}

.contact-1-wrapper {
  top: 0;

  @include flex-column;
  justify-content: flex-end;

  position: relative;

  max-width: 1280px;
  margin: 0 auto;

  margin-top: 48px;
  margin-bottom: 112px;
}

.curvy-bg {
  position: absolute;
  top: 6.5px;
  
  left: -125px;
}

.contact-hero-bg {
  width: auto;
  height: auto;

  position: relative;
}

// .contact-1-intro {
//   padding: 74px 64px;

//   @include flex-column;
//   gap: 12px;

//   border: 6px solid $color-primary-black;
//   background: rgba(255, 186, 73, 0.04);
//   position: relative;

//   h2 {
//     @include font-36-normal-800;
//     color: $color-yellow-100;

//     text-align: center;
//   }

//   p {
//     @include font-16-27-400;
//     text-align: center;
//   }
// }

// .elbow {
//   position: absolute;
// }

// .elbow-1 {
//   top: -6px;
//   left: -6px;
// }

// .elbow-2 {
//   top: -6px;
//   right: -6px;
// }

// .elbow-3 {
//   bottom: -6px;
//   left: -6px;
// }

// .elbow-4 {
//   bottom: -6px;
//   right: -6px;
// 