h4 {
  @include font-24-normal-700;
  color: $color-primary-white;
}

.footer-title-wrapper {
  @include flex-row;
  gap: 12px;
}

.footer-content-text {
  @include font-18-30-400;
  color: $color-dn-20;
}

p {
  @include font-18-normal-400;
}

.link-style {
  @include font-18-normal-400;
  color: $color-dn-20;
}

.footer-item-wrapper {
  @include flex-column-left;
  gap: 16px;

  max-width: 341px;
}

.footer-item-wrapper-2 {
  @include flex-column-left;
  gap: 16px;

  max-width: 400px;
}

.footer-item-wrapper-3 {
  @include flex-column-left;
  gap: 16px;

  max-width: 236px;
}

.social-media-wrapper {
  @include normal-flex-space-between;
  gap: 20px;
}

.footer-item-wrapper-0 {
  margin: 0 auto;

  padding-top: 68px;
  padding-bottom: 68px;

  max-width: 100vw;
  width: calc(100% - 3em);
  background: $color-dn-170;
}

.footer-item-content-wrapper {
  @include flex-row;
  align-items: flex-start;
  justify-content: center;
  gap: 162px;

  margin: 0 auto;
  
  max-width: 1280px;
  width: calc(100% - 3em);
}

.footer-wrapper {
  background: $color-dn-160 ;
  padding-top: 32px;
  padding-bottom: 32px;
}

.icon:hover {
  svg {
    path{
      fill: $color-primary-white;
      transition: 250ms ease-in-out;
    }
    rect {
      stroke: $color-primary-white;
      transition: 250ms ease-in-out;
    }
  }
}

/* Responsive Navbar */
@media screen and (max-width: 1043px) {
  .footer-item-wrapper, .footer-item-wrapper-2, .footer-item-wrapper-3 {
    @include flex-column;
    gap: 16px;
  
    max-width: fit-content;
  }

  .footer-item-content-wrapper {
    @include flex-column;

    gap: 68px;
  
    margin: 0 auto;
    
    max-width: fit-content;
    width: calc(100% - 3em);
  }

  .footer-header {
    text-align: center;
  }

  .footer-content-wrapper {
    br {
      display: none;
    }

    p {
      text-align: center;
      padding-bottom: 12px;
    }
  }

  .social-media-wrapper {
    gap: 30px;
  }
}

@media screen and (max-width: 388px) {
  h4 {
    font-size: 1.25rem;
  }

  p.footer-content-text,
  p.email-link a,
  p.linkedIn-link a,
  p.email-link, 
  p.linkedIn-link{
    font-size: 1rem;
  }


  .social-media-wrapper {
    gap: 20px;
  }

  .footer-title-wrapper {
    @include flex-column;
    gap: 12px;
  }
}