nav {
  position: sticky;
  top: 0;

  z-index: 10;
}

.home {
  overflow-x: hidden;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  height: auto;

  justify-content: center;
}

/* home-1 */
.home-1-name {
  @include font-18-normal-400;
  letter-spacing: 0.4163rem;
}

h1 {
  @include font-32-48-700;
}

.hero-content {
  @include font-16-27-400;
  color: $color-ln-130;
}

.home-1-heroes {
  @include flex-column-left;
  gap: 12px;
}

button {
  @include reset-button;
  @include font-18-normal-500;

  a {
    text-decoration: none;
  }
}

.home-1-cta-wrapper {
  @include normal-flex-space-between;

  width: 48%;
}

.home-1-heroes-wrapper {
  @include flex-column-left;
  gap: 36px;

  max-width: 630px;

  z-index: 3;
}

.home-1-heroes-wrapper-0 {
  @include flex-row;
  justify-content: space-between;

  align-items: flex-end;

  margin: 0 auto;
  max-width: 1280px;

  width: calc(100vw - 3rem);
}

// image absolute
.background-image-hero {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  top: calc(78px + 5%);

  z-index: 0;
}

.line-image-hero {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  top: calc(98px + 5%);

  z-index: 2;
}

.home-1-wrapper {
  height: calc(63.74vh);
  width: auto;
  top: 0;

  @include flex-column;
  justify-content: flex-end;
  position: relative;
}

.hero-image {
  z-index: 1;
  position: absolute;
  display: block;
  height: 100%;
  width: auto;

  top: 0;
  right: min(1.5rem);
}

.hero-filler {
  height: 41px;
  width: auto;
}

.home-1 {
  overflow: hidden;
}

/* home-2 */
.home-2-wrapper {
  @include flex-row;
  align-items: center;
  justify-content: space-between;
  gap: min(1.5rem);

  width: 100vw;
  margin: 0 auto;

  padding-top: 96px;

  position: relative;
  left: -75px;
  transform: translateX(50px);
  transition: transform 0.3s ease-out;
}

.home-2-wrapper.scrolled {
  transform: translateX(0);
}

/* home-3 */

/* responsive */
@media screen and (min-width: 1323px) and (max-width: 1920px) {
  .hero-image {
    right: clamp(2rem, 597px, 19.25rem);
  }
}

@media screen and (min-width: 1921px) {
  .hero-image {
    right: clamp(18rem, 635px, 300rem);
  }
}