nav {
  position: sticky;
  top: 0;

  z-index: 10;
  width: 100%;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  height: auto;

  justify-content: center;
  scrollbar-width: none;
}

.section-wrapper::-webkit-scrollbar {
  display: none;
}


/* home-1 */
.home-1-name {
  @include font-18-normal-400;
  letter-spacing: 0.4163rem;
}

.home-1-cta-wrapper {
  overflow-x: hidden;
}

h1 {
  @include font-32-48-700;
}

.hero-content {
  @include font-16-27-400;
  color: $color-ln-130;
}

.home-1-heroes {
  @include flex-column-left;
  gap: 12px;
}

button {
  @include reset-button;
  @include font-18-normal-500;

  a {
    text-decoration: none;
  }
}

.home-1-cta-wrapper {
  @include normal-flex-space-between;

  width: 48%;
}

.home-1-heroes-wrapper {
  @include flex-column-left;
  gap: 36px;

  max-width: 630px;

  z-index: 3;
}

.home-1-heroes-wrapper-0 {
  @include flex-row;
  justify-content: space-between;

  align-items: flex-end;

  margin: 0 auto;
  max-width: 1280px;

  width: calc(100vw - 3rem);
}

button.hire-me:hover, button.view-projects:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
}

button.view-projects:active {
  color: $color-dn-20;
  text-decoration: underline;
  text-underline-offset: 10px;
}

button.hire-me:active {
  a {
    color: $color-dn-20;
    text-decoration: underline;
    text-underline-offset: 10px;
  }
}

// image absolute
.background-image-hero {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  top: calc(78px + 5%);

  z-index: 0;
}

.line-image-hero {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  top: calc(98px + 5%);

  z-index: 2;
}

.home-1-wrapper {
  height: calc(63.74vh);
  width: auto;
  top: 0;

  @include flex-column;
  justify-content: flex-end;
  position: relative;
}

.hero-image {
  z-index: 1;
  position: absolute;
  display: block;
  height: 100%;
  width: auto;

  top: 0;
  right: min(1.5rem);
}

.hero-filler {
  height: 41px;
  width: auto;
}



/* home-2 */
.home-2-wrapper {
  @include flex-row;
  align-items: center;
  justify-content: space-between;
  gap: clamp(1.5rem, 20px, 100rem);

  width: 100vw;
  margin: 0 auto;

  padding-top: 96px;

  position: relative;
  left: -120px;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.home-2-wrapper.scrolled {
  transform: translateX(0);
}

/* home-3 */
.home-3-header {
  font-family: 'Khand', sans-serif;
  @include font-40-60-600;

  text-align: center;
}

.home-item-header {
  @include font-22-33-600;
  text-align: center;
}

.home-item-content {
  @include font-16-24-400;
  color: $color-ln-70;

  text-align: center;
}

.home-3-item-text {
  @include flex-column;
  gap: 16px;

  max-width: 351px; 
}

.home-3-item {
  @include flex-column;
  gap: 36px;

  background: rgba(42, 44, 48, 0.35);

  padding: 48px 31px;
  border: 2px solid $color-dn-100;
  border-radius: 6px;

  max-width: 413px;
}

.gap-1-line {
  gap: 69px;
}

.home-3-item-wrapper {
  @include flex-row;
  justify-content: space-between;
  gap: min(21px);

  max-width: 1280px;
  width: calc(100vw - 3em)
}

.home-3-wrapper {
  @include flex-column;
  min-height: 603.75px;
  gap: min(72px);

  padding-top: 144px;
  padding-bottom: 144px;
}

/* home-4 */
.home-4-service {
  @include font-24-normal-500;
  color: $color-yellow-100;

  text-align: center;
}

.home-4-header {
  padding: 16px 48px;
  border: 2px solid $color-yellow-40;

  max-width: 358px;
  position: relative;

  margin: 0 auto ;
}

.yellow-rectangle {
  width: 11px;
  height: 11px;

  background: $color-yellow-100;
  position: absolute;
}

.yr-rt {
  right: -5.5px;
  top: -5.5px;
}

.yr-rb {
  right: -5.5px;
  bottom: -5.5px;
}

.yr-lt {
  left: -5.5px;
  top: -5.5px;
}

.yr-lb {
  left: -5.5px;
  bottom: -5.5px;
}

.home-4-item-header {
  @include font-22-normal-500;
}

.home-4-item-text {
  @include font-16-24-400;
  color: $color-ln-70;
}

.home-4-item-content-wrapper {
  @include flex-column-left;
  gap: 10px;
  justify-content: flex-end;
  
  max-width: 241px;
  z-index: 1;
}

.home-4-item-icon {
  z-index: 1;
}

.home-4-item-wrapper-1 {
  @include normal-flex-column-left;
  justify-content: space-between;
  min-height: 389px;

  padding: 32px 32px;
}

.home-4-item-wrapper-0 {
  position: relative;
  max-width: 305px;

  background: linear-gradient(#0e0e0f, #0e0e0f) 50% 50%/calc(100% - 2px) calc(100% - 2px) no-repeat,
            linear-gradient(0deg, #4a4c53 0%, transparent 50%, #4a4c53 100%);
  border-radius: 0px;
  padding: 1px;
  box-sizing: border-box;
}

.curve-bg {
  position: absolute;
  z-index: 0;
}

.curve-01 {
  top: 31.1px;
}

.curve-02 {
  top: 32.88px;
}

.curve-03 {
  top: 101.87px;
}

.curve-04 {
  top: 98.72px;
}

.home-4-item-wrapper {
  @include normal-flex-space-between;
  gap: 20px;

  max-width: 1280px;
  width: calc(100vw - 3em);

  margin: 0 auto;
}

.home-4-wrapper {
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  gap: 72px;

  padding-top: 112px;
  padding-bottom: 112px;

  position: relative;
  background-image: url(../assets/images/home/section4/wrapperbg.svg);

  background-color: #151618;
}

/* home-5 */
.home-5-subheader {
  @include font-16-normal-400;
  letter-spacing: 5.92px;
}

.home-5-header-text {
  @include font-36-normal-800;
}

.home-5-header-wrapper {
  @include normal-flex-space-between;
  max-width: 571px;
  gap: 24px
}

.home-5-header {
  @include normal-flex-column-left;
  gap: 18px;

  max-width: 1280px;
  width: calc(100vw - 3em);
  margin: 0 auto;

  margin-bottom: 56px;
}

.portfolio-year {
  @include font-16-normal-400;
  letter-spacing: 5.92px;
}

.portfolio-title {
  @include font-24-36-700;
  color: $color-ln-20;
}

.portfolio-role {
  @include font-16-27-400;
  color: $color-dn-10;
}

.home-5-portfolio-text-wrapper {
  @include normal-flex-column-left;
  gap: 12px;

  max-width: 396px;
}

.view-case-study-button {
  @include font-16-27-400;
  padding: 8px 12px;
  border: 1px solid $color-primary-white;
  transition: all 0.15s ease-in-out;

  &:hover {
    a {
      transition: all 0.15s ease-in-out;
      color: $color-primary-yellow;
    }

    border-color: $color-primary-yellow;
  }
}

.home-5-portfolio-item-wrapper-0 {
  @include normal-flex-column-left;
  min-height: 343px;
  justify-content: space-between;

  padding-left: 48px;
}

.portfolio-frontpage-picture {
  padding-right: 24px
}

.home-5-portfolio-item {
  @include normal-flex-space-between;
  align-items: center;

  padding-top: 24px;
  padding-bottom: 24px;

  background: $color-dn-170;
  max-width: 1280px;
  width: calc(100vw - 3em);

  margin: 0 auto;

  margin-bottom: 36px;
}

.invisible {
  display: none;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.home-5-wrapper {
  margin: 144px auto;
}

/* responsive */
@media screen and (min-width: 1323px) and (max-width: 1661px) {
  .hero-image {
    right: clamp(2rem, 597px, 11.5rem);
  }
}

@media screen and (min-width: 1662px) and (max-width: 1920px) {
  .hero-image {
    right: clamp(11.5rem, 597px, 19.25rem);
  }
}

@media screen and (min-width: 1921px) {
  .hero-image {
    right: clamp(18rem, 635px, 300rem);
  }
}